<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Film The Bridge
        include ../partials/head.pug
    body
        include ../partials/navigation.pug
        .header-general
        // BOTON SEARCH
        form.containerSearchFilms
        each film in films
            table.tabla
                tr
                    th(rowspan="7")
                        img.posters(src=film.Poster)
                    td.film__title=film.Title
                tr
                    td.td-buttons
                        a(href=`/films/edit/${film._id}`)
                            i.fa.fa-pen(class='edit-delete-buttons')
                    td.td-buttons
                        //- form(action=`/films/delete/${film._id}?_method=DELETE` method='POST')
                        //-     input(type='hidden' name='_method' value='DELETE')
                        //-     button.delete-button(type='submit')
                        //-         i.fa.fa-trash(class='edit-delete-buttons')









                    
                        //- -------MODAL------
                        .content-wrapperModal
                            label
                                span.btnModal.fa.fa-trash
                                    input(type='checkbox')
                                    .confirm-modal
                                        form.formModal(action=`/films/delete/${film._id}?_method=DELETE` method='POST')
                                            p.textModal Are you sure to delete this film?
                                            button(type='submit').btnModalConfirm Yes
                                            a.btnModalConfirm No









                        
            
            
                //- a(href=`/films/edit/${film._id}`).button-small Editar Pelicula
                //- form(action=`/films/delete/${film._id}?_method=DELETE` method='POST')
                //- input(type='hidden' name='_method' value='DELETE')
                //- button(type='submit').button-small Delete         
        script(src='/js/script.js')    

